<ion-header>
  <ion-toolbar>
    <ion-title>information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides #slider style="height:100%;" pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-img src="assets/index.jfif"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
            </ion-row>
            <ion-row>
            <ion-col size="12">
<ion-card>
  <ion-card-header>
    <ion-card-title>Congratulations</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    You've arrived at <br>
    Library@NYP
    <br>
    <ion-button (click)="next()">
        Next
    </ion-button>
  </ion-card-content>
</ion-card>
            </ion-col>
            </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide>
      <ion-grid style="height:100%">
        <ion-row>
            <ion-col size="12">
                <h1>Library@NYP</h1>
            </ion-col>
        </ion-row>
        <ion-row>
        <ion-col size="12">
        <!-- Default Segment -->
<ion-segment [(ngModel)]="type">
  <ion-segment-button value="info">
    <ion-label>Information</ion-label>
  </ion-segment-button>
  <ion-segment-button value="openin">
    <ion-label>Opening Hours</ion-label>
  </ion-segment-button>
</ion-segment>
        </ion-col>
        </ion-row>
        <ion-row>
                        <ion-col size="12">
        <div [ngSwitch]="type">
                    <ion-item *ngSwitchCase="'info'">
                    Our Library is the biggest, the best of them all.
                    Thats what they all say
                    </ion-item>
                    <ion-item *ngSwitchCase="'openin'">
                    9am-6pm Mondays to Saturdays
                    12noon-12midnight Sundays
                    </ion-item>
                    
        </div>
                 </ion-col>       
        </ion-row>
      </ion-grid>
      </ion-slide>  
    </ion-slides>

</ion-content>
