<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hints
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>

  <h1 style="text-align:center;">Zone 2</h1>
  <p style="text-align:center;">(Click to expand hint)</p>
  <ion-card *ngFor="let item of items">
  <ion-card-header>
    <ion-card-title style="line-height:40px">{{item.title}}     
    
    <ion-button (click)="expandItem(item)"  fill="clear">
        
        <ion-icon *ngIf="!item.expanded" name="arrow-back-circle-outline"></ion-icon>
        <ion-icon *ngIf="item.expanded" name="arrow-down-circle-outline"></ion-icon>        
    </ion-button ></ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
        <ion-row style="line-height:40px;">
            <ion-col size="8">
              {{item.content}}
  <app-accordian expandHeight="100px"  [expanded]="item.expanded">
                <p>
                {{item.extended_content}}
        </p>
              </app-accordian>
            </ion-col>
            <ion-col size="4">
    <ion-button href="/tabs/information">
        Submit
    </ion-button >                
            </ion-col>
        </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


</ion-list>
</ion-content>
