ion-content ion-toolbar {
  --background: translucent;
}

div{
  height: 100%;
  text-align: center;
}

img{
  max-width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 1;
}

area, map{
  position: absolute;
  z-index: 2;
}
label {
  display: block;
  position: absolute;
  visibility: hidden;
  padding: 200px 0px 0px 105px;
}
