<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Campus Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ion-no-padding">
  <ion-row>
  <ion-col size="12">
  <div>
    <label id="field" >Multi-Purpose Field<br/>Click to see more</label>
    <label id="faculty">Faculty Hall<br/>Click to see more</label>
    <label id="univeristytower">Univeristy Tower<br/>Click to see more</label>
    <map name="examplemap">
      <area shape="rect" coords="320, 210, 520, 240" (click)="presentAlert()" alt="faculty" (mouseover)="faculty()" (mouseout)="facultyout()">
      <area shape="rect" coords="150, 320, 350, 450" (click)="presentAlert()" alt="field" (mouseover)="field()" (mouseout)="fieldout()">
      <area shape="rect" coords="200, 170, 275, 235" (click)="presentAlert()" alt="univeristytower" (mouseover)="univeristytower()" (mouseout)="univeristytowerout()">
    </map>
    <img src="..\..\assets\sit-dover-map.jpg" usemap="#examplemap">
  </div>
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col size="12">
<ion-card>
  <ion-card-header>
    <ion-card-title>Guess the location</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-input style="border:1px solid black;" type="text"></ion-input>
    <ion-button>Submit</ion-button>
  </ion-card-content>
</ion-card>
  </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
