<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="fullheight xc">
      <ion-img style="width:50%" src="assets/coin.png"></ion-img>
    </div>
</ion-content>
